@import 'variables.scss';

.page-content {
    box-sizing: border-box;
    min-height: 560px;
    max-width: $max_header_width;

    margin: 0 auto;
    padding: 1rem 1.5rem;
    float: left;

    h1 {
        margin-top: 1.5rem;
        font-size: 3rem;
        font-weight: 300;
    }

    h2 {
        margin-top: 1.5rem;

        font-size: 1.75rem;
        font-weight: 500;
    }

    p {
        margin-top: 0.75rem;
        line-break: break-all;
        line-height: 1.25rem;
    }
}

.player-container {
    position: relative;
    text-align: right;
    display: inline-block;
    left: 0;
}


.player-container h1 {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    text-size-adjust: auto;
    width: 60%;
}

.model {
    padding-top: 3rem;
    width: 50vw;
    margin: 0;
    float: right;
    height: 40vh
}

.special {
    object-fit: cover;
    object-position: center;
}

.page-content {
    width: 90vw;
}

.player {
    position: relative;
    width: 90vw;
    display: flex;
    z-index: 0;
    padding: 0;
    float: left;
    width: max-content;
}

.player:not(.first) {
    margin-top: 10rem;
}

.player_about {
    font-size: 3vh;
    word-break: normal;
    width: 45vw;
    display: inline-block;
}