$breakpoint_tablet: 1043px;
$breakpoint_desktop: 1040px;
$max_header_width: 1200px;
$color_background: transparent;
$color_background_alt: #e0e5eb;
$color_text: white;
$color_text_alt: #36bae6;
$color_border: #e0e5eb;

$transition_link: 0.14s ease-in-out;
$transition_anim: 0.22s ease-in-out;