@use 'src/css/header.scss';
@use 'src/css/page.scss';
@use 'src/css/adaptation.scss';
@import 'src/css/variables.scss';




html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

    overflow-x: hidden;
}

a {
    display: inline-block;

    text-decoration: none;

    &.button {
        padding: 0.5rem 1rem;

        background: $color_text;

        color: $color_background;
        text-align: center;

        &.primary {
            background: $color_text_alt;
            color: $color_background_alt;
        }
    }
}