@import 'variables.scss';


header {
    top: 0;
    height: 100vh;
    width: 100%;

    background: url(src/assets/BigImage.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

header .container {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateX(0);
    transition: 1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba($color: #000000, $alpha: 0.8);
    width: 100%;

    padding: 0 1.5rem;

    margin: 0 auto;
    border-bottom: 1px solid $color_border;

    &>.logo img {
        padding-top: 0.2rem;
        width: 3.5rem;
        color: $color_text;
        clip-path: circle();
    }
}

.search-container {
    padding: calc(1.25rem - 6px) 1.5rem;
}

input[type="text"] {
    padding: 6px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 1.2%;
}

.search-container button {
    background: #ddd;
    cursor: pointer;
    float: right;
    position: absolute;
    padding: 6px;
    font-size: 17px;
    border: none;
}

header .container ul {
    background: rgba($color: #000000, $alpha: 0.8);
    position: relative;
    z-index: 2;
}

header .container.black {
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 1;
}

input.hamburger-button {
    display: none;

    &~label {
        position: relative;
        padding: 0.25rem;

        width: 1.5rem;
        height: 1.25rem;

        &>div,
        &>div::before,
        &>div::after {
            content: "";
            position: absolute;
            top: 0.825rem;

            height: 0.125rem;
            width: 1.5rem;

            opacity: 1;

            background: $color_text;

            transition: $transition_link;
        }

        &>div::before {
            top: -0.5rem;
        }

        &>div::after {
            top: 0.5rem;
        }
    }
}

header .container .hamburger-button:checked {
    &~label {
        &>div {
            width: 0;
            background: transparentize($color_text, 1);
        }

        &>div::before {
            transform: rotateZ(45deg);
            top: -0rem;
        }

        &>div::after {
            transform: rotateZ(-45deg);
            top: -0rem;
        }
    }

    &~.menu {
        left: 0;
        transform: translateX(0);
    }
}


header .container .menu {
    position: absolute;
    top: 3.5rem;
    left: calc(-100vw - 3rem);
    transform: translateX(calc(-100vw - 3rem));

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);

    width: 100%;
    background: $color_background;

    transition: $transition_anim;

    &::after {
        content: "";
        position: absolute;
        z-index: 1;

        height: 100vh;
        width: 100vw;

        background: $color_background;
    }

    nav {
        grid-area: auto;
    }

    nav ul {
        display: flex;
        flex-direction: column;

        &>li>a {
            box-sizing: border-box;
            width: 100%;
            padding: 1rem 1.5rem;

            text-align: left;
            color: $color_text;

            transition: $transition_link;

            &:hover {
                color: $color_text_alt;
                background: $color_background_alt;
            }
        }
    }

    div.buttons {
        grid-area: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        padding: 0.5rem 1rem;
        border-top: 1px solid $color_border;

        background: $color_background;

        &>* {
            flex: 1;

            min-width: min-content;

            margin: 0.5rem;
        }
    }
}